<footer class="main-footer">
  <div>
    <hr>
    <ul class="list-unstyled">
      <li>
        <i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:support@controlesports.com">support@controlesports.com</a>
      </li>
    </ul>
    <br>
    <ul class="list-inline">
      <li>
        <a href="https://www.facebook.com/ctrlesports"><i class="fa fa-facebook-official fa-fw fa-3x SocialFacebook"></i></a>
      </li>
      <li>
        <a href="http://www.twitch.tv/ezyteevee/profile"><i class="fa fa fa-twitch fa-fw fa-3x SocialTwitch"></i></a>
      </li>
      <li>
        <a href="https://www.youtube.com/channel/UCzZdGZHXPmCTRUO9a4dzEeg"><i class="fa fa-youtube-play fa-fw fa-3x SocialYoutube"></i></a>
      </li>
      <li>
        <a href="https://twitter.com/Controle_Sports"><i class="fa fa-twitter-square fa-fw fa-3x SocialTwitter"></i></a>
      </li>
    </ul>
    <hr>
    <p>© 2018 - Control e-Sports</p>
  </div>
</footer>
