@import '../../../sass/common';

.main-nav {
  font-family: "Xperia";

  @include breakpoint(md) {
    padding-left: 15%;
  }

  @include breakpoint(lg) {
    padding-left: 15%;
  }

  ul {
    li {
      > a {
        color: #9d9d9d;
      }

      display: inline;
    }
  }

  .account {
    float: right;
  }

  .navbar.bg-dark {
    background-color: #222222;
  }

  .navbar-brand {
    > .navbarBrandColor {
      color: #0094ff;
    }
  }
}
