<section class="blog-all">
      <div class="jumbotron">
        <h1>All Blogs!</h1>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <ng-container *ngFor="let item of blogList;let i = index">
                <div class="col-md-4">
                  <div class="blog-item">
                    <div class="blog-body">
                      <div style="text-align: center;">
                        <a>
                          <img src="../../../../assets/images/ControleSports.png" alt="item.Game.Name" width="150" height="150" />
                        </a>
                      </div>
                      <h2>item.Name</h2>
                      <blockquote>
                        <p>item.Description</p>
                      </blockquote>
                      <hr />
                      <p>item.createdDate.ToShortDateString() - <a routerLink="/main/blogs/detail/1">Read More</a></p>
                    </div>
                  </div>
                </div>
              </ng-container>      

              
            </div>
          </div>
        </div>
      </div>
  </section>
