<div class="row admin-achievement-detail">
  <div class="col-md-12">

    <div class="card">
      <div class="card-header">
        <strong>Create Achievement</strong>
      </div>
      <div class="card-body">
        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Achivement Title</label>
            <div class="col-md-9">
              <input type="text" id="name-input" [(ngModel)]="achivementItem.AchievementName" name="name-input" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="select1">Select</label>
            <div class="col-md-9">
              <select id="select1" name="select1" class="form-control">
                <option value="0">Please select</option>
                <option value="1" selected>Counter Strike</option>
                <option value="2">Call of Duty</option>
                <option value="3">Dota 2</option>
                <option value="4">League of Legends</option>
                <option value="5">Starcraft 2</option>
                <option value="5">Rocket League</option>
                <option value="5">Rainbow Six Siege</option>
                <option value="5">H1Z1</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="display-name-input">Active</label>
            <div class="col-md-9 col-form-label">
              <div class="form-check">
                <input type="checkbox" id="display-name-input" [(ngModel)]="achivementItem.IsActive" name="display-name-input" class="form-check-input">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="registered-date">Created Date</label>
            <div class="col-md-5">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd"
                       name="dp" [(ngModel)]="achivementItem.CreatedDate" ngbDatepicker #d="ngbDatepicker" placement="top">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                    <i class="fa fa-calendar"></i>
                  </button>
                </div>
              </div>

            </div>
          </div>

        </form>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-primary" ><i class="fa fa-save"></i> Save</button>
      </div>
    </div>

  </div>
</div>
