<div class="container">
  <div class="page-header">
    <h1 id="timeline">Timeline</h1>
  </div>
  <ul class="timeline">
    <ng-container *ngFor="let item of timeLineItems;let i = index">
      <li [ngClass]="{'timeline': i%2==0, 'timeline-inverted':i%2==1}">
        <img src="/Images/Matches/Icon/csgoTimeline.png" height="80" width="80" class="timeline-badge">
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Control vs Cortex</h4>
            <p><small class="text-muted"><i class="fa fa-clock"></i> Scheduled Date: 2016-04-04</small></p>
          </div>
          <div class="timeline-body">
            <p>Counter-Strike: Control vs Cortex on de_mirage!</p>
          </div>
          <br>
          <hr>
          <div class="btn-group">
            <a href="http://au.cybergamer.com/match/680341/" class="btn btn-primary btn-sm">
              <i class="fa fa-gear">
              </i> Details
            </a>
          </div>
          <p class="pull-right">
            <b>Result:</b>
            16/8
            <span class="label label-success">
              Won
            </span>
          </p>
        </div>
      </li>
    </ng-container>
  </ul>

</div>
