<div class="container account-register">
  <div class="margin-top-20"></div>
  <div class="row">
    <div class="account-register-main col-md-6">
      <div class="card text-black border-login">
        <div class="card-heading">
          <strong>Register</strong>
          <small class="pull-right"><a routerLink="/main/account/login">Login</a></small>
        </div>
        <div class="card-body">
          <section id="loginForm">
            <h4>Create New Account</h4>
            <hr />
            <div class="form-group row">
              <label class="col-md-4 control-label">Email</label>
              <div class="col-md-8">
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 control-label">Display Name</label>
              <div class="col-md-8">
                <input type="password" class="form-control" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 control-label">Password</label>
              <div class="col-md-8">
                <input type="password" class="form-control" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 control-label">Confirm Password</label>
              <div class="col-md-8">
                <input type="password" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Register" class="btn btn-primary" />
              </div>
            </div>
            <hr />           
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
